@page
@model RentACar.Pages.Homes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Home?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
