@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Rent a Car  - Home";
}

<style>
    body {
        background-color: #f8f9fa;
        color: #6c757d; /* gri deschis */
        text-align: center;
    }

    .container {
        max-width: 800px;
    }

    .text-center {
        margin-bottom: 30px;
    }

    .lead {
        font-size: 1.5em;
    }

    .btn-primary {
        background-color: #ff8080; /* pastel roșu */
        border-color: #ff8080;
        color: white;
    }

        .btn-primary:hover {
            background-color: #e57373; /* nuanță mai închisă a roșului */
            border-color: #e57373;
            color: white;
        }

    .center-image {
        margin-top: 30px;
        border-radius: 5px;
    }

    img.center-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .display-4{
        margin-top: 50px;
    }
    
</style>

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to Rent a Car </h1>
        <p class="lead">Discover the Future of Car Rental Assistance</p>
        <p class="mb-4">Experience intelligent and personalized car rental support through our cutting-edge system powered by A&F. Find the perfect car for your needs.</p>
        <a class="btn btn-primary btn-lg" href="/Cars/Index" role="button">Get Started</a>
    </div>

    <img src="/images/cars.jpg" class="center-image" alt="Car Image">
</div>
